<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="">
    <input placeholder="ввидите номер телефона" type="text" name="" id="">
    <input placeholder="ввидите кадрес електроной почты" type="email" name="" id="">
    <input placeholder="ввидите адрес доставки товара" type="text" name="" id="">
    <input placeholder="видите то количество товара сколько хотите заказать" type="number" name="" id="">
    <button type="">Купить</button>
</form> 
</body>
</html>